---
---

@import "{{ site.theme }}";

body {
  background-image: url('https://github.com/spartan7777/spartan7777.github.io/blob/main/servers-connection-compsci-tech-wallpaper-5.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
